<header class="header-section">
    <div class="row">
        <div class="col-3 header-logo-section">
            <div class="logo">
                <a routerLink="/"><img [src]="logoUrl" class="img-responsive"></a>
            </div>
            <div class="header-menu">
                <a class="nav-link" routerLink="/"> Apps </a>
            </div>
        </div>
        <div class="col-9 text-right">
            <ul class="menu-bar">
                <li>
                    <a class="nav-link"> Login </a>
                </li>
            </ul>
        </div>
    </div>
</header>